body {
  background: linear-gradient(
    90deg,
    rgba(24, 0, 255, 1) 0%,
    rgba(96, 56, 229, 1) 44%,
    rgba(205, 39, 198, 0.8100373938637955) 99%
  );
  height: 100vh;
  margin-top: $margin-top;
}
