body {
  background: linear-gradient(
    40deg,
    rgb(118, 26, 245) 0%,
    rgb(128, 56, 229) 44%,
    rgba(205, 39, 198, 0.8100373938637955) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin-top: $margin-top;
}
