/* colors */
$color-primary: #559cc5;
$color-primary-dark: #287cb4;
$color-primary-light: #a8adb3;
$color-primary-blue: #4286f4;
$color-primary-teal: #008081;
$color-primary-teal-light: #bcf6ee;
$color-primary-chocolate: #cd4c37;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-light-2: rgb(216, 209, 209);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
$default-font-weight: bold;
/*grid*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
/*margin*/
$margin-top: 4.2rem;
