@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

root {
  --black-coffee: #38302e;
  --dim-gray: #8d80a290;
  --dim-gray-visible: #8d80a2;
  --black: #333;
  --light-color: #666;
  --night: #141414;
  --white: #ebebeb;
  --ultra-white: #fff;
  --grey: #eee;
  --red: #a41f66;
  --fontcolor: #c6e1da;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* ändra font */
  font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  height: 200vh;
  background-color: var(--black);
  margin-bottom: 2rem;
}
