$body-color: rgba(255, 255, 255, 0.9);

$theme-colors: (
  'primary': #166285,
  'secondary': #4f4f52,
  'success': #577717,
  'info': #3f7679,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #c8c8c8,
  'dark': #2f2f2f
);

@import 'bootstrap/scss/bootstrap';
